body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 0;
  font-style: normal;
}

header{
    background-color: #bdcfff;
    padding: 40px 0 10px 0;
}

header div, .container__contenido{
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 20px 0 60px 0;
}

.titulo__principal{
    font-size: 43px;
    width: fit-content;
    padding: 29px 59px;
    margin: 0 auto;
    background-color: rgb(157, 247, 215);
    border: 1px solid #000;
    border-radius: 11px;
    transition: 0.5s all;
}

.titulo__principal:hover{
    background-color: blanchedalmond;
    transform: scale(1.1);
    cursor: default;
}

main {
    background: linear-gradient(#bdcfff, rgb(146, 238, 207));
}

.container_informacion{
    width: 89%;
    display: block;
    margin: 0 auto;
    cursor: default;
}

.parrafo_array{
    font-size: 23px;
    width: 520px;
    padding: 20px 40px;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 23px;
    background: rgb(60, 194, 194);
}

.container_botones, .container_reboot_button{
    width: 850px;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}

.clase__boton{
    font-size: 23px;
    width: fit-content;
    padding: 20px 40px;
    border: 1px solid #000;
    border-radius: 11px;
    background-color: rgb(60, 194, 194);
    transition: 0.5s all;
    cursor: pointer;
    margin: 0 45px;
}

.clase__boton:hover{
    transform: scale(0.8);
    background-color: rgb(252, 135, 158);
}

footer{
    background: url(img/background-footer.jpg);
    padding: 20px;
    text-align: center;
}

footer p{
    background: #fff;
    width: fit-content;
    padding: 10px 40px;
    border-radius: 23px;
    margin: 10px auto;
}
